bingo-ssh.pem
oracle-bingo-ssh.pem
aws cmds.txt
Caddyfile
bingo-app/server.py
bingo-app/node_modules/
bingo-app/dist/
oracle cmds.txt
node_modules/
.env
docker.env
bingo-app/db/Beekeeper.lnk
bingo-app/.oci/
