@use './main.scss' as main;

html {
    position: relative;
}

#helper-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    cursor: pointer;
}

#helper-overlay-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: main.$color_fourth;
    padding: 1em;
}


#viewer-overlay {
    cursor: default;
    position: absolute;
    display: none;
    width: 100%;
    /* height: 100%; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: pointer;
}

#viewer-overlay:hover {
    cursor: default;
}

.helper-target {
    transform: translate(40%, 40%);
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: help;
    z-index: 668;
}

.vis-hidden {
    visibility: hidden;
}

#tile-list-zone {
    display: none;
    position: relative;
    z-index: 50;
    padding: 10px;
    width: 725px;
    max-width: 1140px;
    background: main.$color_fourth;
    color: #be0d0d;
    max-height: inherit;
    overflow-y: scroll;
    overflow-x: clip;
}

.linked-tile-binding {
    border-left: #000000 solid thick;
    border-bottom: #000000;
    border-image: linear-gradient(to right, #000000 10%, trasparent 90%) 100% 1;
}

.linked-tile-binding::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 3%;
    background: #000000;
    transform: translate(-22%);
}

.full-tile-info {
    padding-left: 20px;
    height: 20%;
    padding-bottom: .5em;
    padding-top: .5em;
}

#tile-zone {
    position: relative;
}

.img-in-view {
    width: 30%;
    object-fit: cover;
    height: 150px;
    cursor: zoom-in;
}

.img-in-view-zoom {
    object-fit: contain;
    width: 50%;
    height: inherit;
    max-height: 400px;
    cursor: zoom-out;
}

.tile-viewer-text {
    height: 150px;
}

.tile-viewer-text-title {
    font-weight: bold;
}

.tile-viewer-text-description {
    overflow: auto;
    height: 80%;
}

@media (max-width: 992px) {

    #tile-list-zone {
        display: none;
        position: relative;
        z-index: 50;
        padding: 10px;
        width: 800px;
        /* max-width: 1140px; */
        height: 10%;
        background: main.$color_fourth;
        color: #be0d0d;
    }

}

h2 {
    font-family: Arial black, sans-serif;
}

.imgop {
    opacity: 0.38;
}
.clamp-size {
    width: 98%;
    margin-top: 2%;
    object-fit: cover;
    height: 170px;
}

.tile-standard {
    background-color: main.$color_fourth;
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    visibility: hidden;
}

.tile-anim {
    animation-name: fadein;
    animation-duration: .66s;
    visibility: visible;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.tl-round {
    border-radius: 25px 0 0 0;
}
.tr-round {
    border-radius: 0 25px 0 0;
}
.bl-round {
    border-radius: 0 0 0 25px;
}
.br-round {
    border-radius: 0 0 25px 0;
}

.txt-header-widen {
    width: 20%;
}
.geoff-text {
    font-size: 20pt;
}
.tile-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    top: 50%;
    left: 5%;
    right: 5%;
    transform: translate(-0%, -50%);
    text-shadow: main.$color_third 1px 0 10px;
    max-width: 187.93px;
}

.tick-standard {
    transition: all .2s cubic-bezier(0, 0.4, 0.5, 1);
    position: absolute;
    top: 50%;
    left: 50%;
}

.tick-hidden {
    transform: scale(1.5,1.5) translate(-33%, -33%);
    opacity: 0.0;
}

.tick-visible {
    transform: scale(1, 1) translate(-50%, -50%);
    opacity: 1.0;
}

.win {
    background-color: gold;
}