@use "~bootstrap/scss/bootstrap";
// @use "croppie/croppie.css";
@use 'cropt/src/cropt.css';

// https://colorhunt.co/palette/3b1e549b7ebdd4bee4eeeeee
// $color_2024_first: #3B1E54;
// $color_2024_second: #9B7EBD;
// $color_2024_third: #D4BEE4;
// $color_2024_fourth: #EEEEEE;

$color_first: #1b263b;
$color_second: #415a77;
$color_third: #778da9;
$color_fourth: #e0e1dd;

#content {
    min-height: 100vh;
    height: 100%;
}

.widener {
    transition: all .5s;
}

@media (max-width: 992px) {
    .widener {
        transition: all .5s;
        max-width: 100%;
    }
}

body {
    background-color: $color_first;
}

.shell {
    background-color: $color_second;
}

.shell-dim {
    background-color: #00000077;
}

input[type=text], input[type=textbox] {
    border-style: none;
    background-color: $color_third;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

button, input[type=button] {
    background-color: $color_third;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.help-link {
    color: $color_first;
}